<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <div class="logofooter"> <img class="logo-img-footer" src="../img/NYGIcon-white.png"  ALT="NYG Logo Footer" ></div>
        <p>The true New Yorker secretly believes that people living anywhere else have to be, in some sense, kidding.</p>
        <p><i class="fa fa-map-pin"></i> #14 Palace Road, Boston, MA, USA</p>
        <p><i class="fa fa-phone"></i> Phone (US) : +1 9999 999 999</p>
        <p><i class="fa fa-envelope"></i> E-mail : mynewyorkguide@gmail.com</p>
        
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="/menu/contactus">Contact US</a></li>
          <li><a href="/menu/privacy"> Privacy Policy</a></li>
          <li><a href="/menu/termsofuse"> Terms & Conditions</a></li>
          <li><a href="/menu/advertise"> Advertising </a></li>  
          <li><a href="/menu/freqaskque"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>The Macy’s Thanksgiving Day Parade <span>Dec 15,2018</span></p>
          <p>Amateur Night at the Apollo <span>Jan 3,2019</span></p>
          <p>Bank of America Winter Village at Bryant Park Rink <span>Dec 13,2018</span></p>
          <p>Bake + Take | Thanksgiving Pies <span>Dec 23,2018</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul class="footer-social">
          <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-12">
      <p class="copyright-text">© 2018 - All Rights with NYG</p>
    </div>
    
  </div>
</div>