<body>

	<div class="container">
		<div class="thumbnail text-center mb-4">
			<img src="/img/aboutus.jpg" alt="" class="img-fluid">
		</div>
		<div class="loader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="jumbotron j5">
			<h1 class="text-center p-2 ">Who Are We ?</h1>
			<br>
			<p class="aboutus">
				About New York Guide, the Cities largest travel site* enables travellers to unleash the full potential of every
				trip. With approximately 661 million reviews and opinions covering the world's largest selection of travel listings
				worldwide – covering approximately 7.7 million accommodations, airlines, experiences, and restaurants -- NewYork
				provides travellers with the wisdom of the crowds to help them decide where to stay, how to fly, what to do and
				where to eat. New York guide also compares prices from more than 200 hotel booking sites so travellers can find the
				lowest price on the hotel that's right for them. NewYork-branded sites are available in 49 markets, and are home to
				the world's largest travel community of 456 million average monthly unique visitors**, all looking to get the most
				out of every trip. New York Guide: Know better. Book better. Go better. The subsidiaries and affiliates of New
				York, Inc. (NASDAQ: TRIP) own and operate a portfolio of websites and businesses, including more than 20 travel
				media brands.Ben and Dan loved serving these users, because understanding small businesses is in their DNA: Ben
				grew up helping his mom around her hair salon that she ran from their family kitchen, and Dan’s parents ran a
				bakery. With Mailchimp, they found that working for small businesses gave them the freedom to be more creative and
				adapt quickly to their needs.
			</p>
			</br>
			<p class="aboutus">
				So, in , Shivesh, Sai and Krishna decided to shutter the web design agency and focus exclusively on Mailchimp. While the new
				company started as an email marketing tool, our customers repeatedly asked us to spread the Mailchimp spirit to
				other channels. They taught us that Mailchimp’s brand promise is to help small businesses “look pro and grow,” no
				matter the channel.

				In 2019, we are planning to launch a slew of new channels: Instagram, Facebook, and Google ads, landing pages, and
				more. We’re no longer an email marketing tool—we’re a marketing platform. As our product and team continues to
				grow, one thing stays the same: Ben and Dan’s mission to empower the underdog.
			</p>
		</div>
		<div class="thumbnail text-center mb-4 cul-img">
			<img src="/img/culture.jpg" alt="" class="img-fluid">
		</div>
		<div class="jumbotron j5">
			<h1 class="text-center p-2 ">Culture</h1>
			<br>
			<p class="aboutus">
				NYG works to create a company culture that sustains a creative workforce and encourages a healthy work-life
				balance. Our employees have opportunities to attend events, share their work, and take time off to volunteer or
				learn new skills. And we’re always looking for new engineers and artists, misfits and number crunchers to join our
				team.
				<br><br>
				As part of our commitment to diversity and inclusion, we’re cultivating an equitable and empathetic workplace, a
				listening and learning culture, and an empowered and inspired community.
			</p>
			<p class="aboutus">
				We help our team members grow in their current roles and dream about what's next through programs like NYG
				University, an MBA-style program developed with Emory University, leadership courses for managers, and our
				apprenticeship program, which gives people without prior experience the opportunity to try out technical roles.

				NYG also hosts writers, designers, comedians, artists, and other interesting people at our regular Coffee Hour
				series for employees.
			</p>
		</div>

		<div class="row hidden-md-up">
			<div class="col-md-4 mb-2">
				<div class="card">
					<img class="card-img-top img_size_card" src="img/pp1.jpg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Shivesh Kumar</h4>
						<p class="card-text">Architectural Designer and Developer</p>
						<a target="_blank" href="http://www.shiveshkumar.com/" class="btn btn-primary">See Profile</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-2">
				<div class="card">
					<img class="card-img-top img_size_card" src="img/pp2.jpg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Saikumar Katepalli</h4>
						<p class="card-text">Web Developer</p>
						<a target="_blank" href="https://www.linkedin.com/in/saikumarkatepalli/" class="btn btn-primary">See Profile</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-2">
				<div class="card">
					<img class="card-img-top img_size_card" src="img/pp3.JPG" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Krishna Vikas</h4>
						<p class="card-text">Backend Developer</p>
						<a target="_blank" href="https://www.linkedin.com/in/krishna-vikas-4842b0a4/" class="btn btn-primary">See Profile</a>
				 </div>
				</div>
			</div>
		</div>
	</div>
