
<div class="card card-body">
    <h3>Vouchers</h3>
    <form action="/ideas" method="post">
       <div class="card card-body">
        <h4 class="card-title">Voucher $100 </h4>
        <p class="card-text">Applicable at all partners. </p>
        <p class="card-text">Net Worth: $120 </p>
       <button type="submit" class="btn btn-primary">Buy</button>
    </div>
    </form>
</div>