<div class="container pri">
    <h1 class="d-flex justify-content-center">Advertise with Us</h1>
    <p class="para"><strong>
            <h3>About Advertising with NYC Guide</h3>
        </strong>
        NYC Guide offers innovative and exciting media opportunities to connect with tens of millions of New York
        City visitors, residents and commuters from the metropolitan region. These vehicles include our newly
        redesigned website, nycgo.com, and mobile platforms, the state-of-the-art Official NYC Information Center, the
        Official NYC Visitor Guide and Official NYC Visitor Map and NYC outdoor media. In addition, NYC Guide
        offers customizable marketing opportunities and integrated branded content platforms.

        Digital
        To learn more about digital advertising and integrated marketing solutions with nycgo.com or to inquire about
        mobile opportunities, please contact:
        <br>
        <br>
        Saikumar Katepalli<br>
        Vice President, Digital Strategy & Partnerships<br>
        <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;212-484-1207<br>
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;katepalli.s@husky.neu.edu<br>
        <br>
        Shivesh Kumar<br>
        Digital Ad Sales Manager<br>
        <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;212-484-1228<br>
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;sdepass@nycgo.com<br>
        <br><br>
        <strong>
            <h3>About Advertising with NYC Vistor Guide</h3>
        </strong>
        To advertise in our Official NYC Visitor Guide, Official NYC Visitor Map, Official NYC Travel Planner or
        Official NYC Meeting Planner, please contact:
        <br>
        Krishna Vikas<br>
        Director, Advertising Sales & Services<br>
        <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;212-484-1291<br>
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;krishna@husky.neu.edu<br>

        To submit advertising materials for our print publications, please email publications@nycgo.com.

        <br><br>
        <strong>
            <h3>Outdoor Media</h3>
        </strong>
        To activate a City banner program or for all other media inquiries, please contact:<br>

        Aleen Shabnam<br>
        Vice President, Media Services<br>
        <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;212-484-5403<br>
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Aleen@gmail.com<br>

        <br><br>
        <strong>
            <h3>Sports Marketing</h3>
        </strong>
        To learn more about customized sports marketing strategies and activation events, please contact:
        <br>
        John Cena<br>
        Vice President, Sports Marketing<br>
        <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;212-484-5410<br>
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;abcd@gmail.com<br>
        <br>
    </p>
</div>