<div class="">
     <div class="row">
        <div class="thumbnail text-center">
            <img src="/img/streetfood/streetfood-baner.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <hr>
    <br>
    <div class="container">
      
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card mb-2">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/BIRANYICART.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
                <h4 class="card-title">Katti Roll</h4>
                <p class="card-text">Kati roll are almost as much of a Midtown lunch staple as Halal cuisine, but not every cart that advertises these Indian flatbread roll-ups deliver on the delicious quotient. This option has developed a legion of followers for its flavor-packed offerings or lamb for a mere $6.
                 </br><strong>Location:</strong> 46th St. and Sixth Ave. 
                </p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/BigDsGrub.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
                <h4 class="card-title">Big D's Grub</h4>
                <p class="card-text">The "Big D" behind this truck is a New Yorker known as Dennis, and he works bold flavors into his mobile fare inspired by his childhood in culinary melting pot Queens. Grab tacos, grinders or bowls stuffed with ingredients like bulgogi or ginger chicken.</br><strong>Location:</strong> Around Manhattan N Brooklyn.</p>
                 
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/jianettos.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
             <h4 class="card-title">Jianetto's Pizza</h4>
              <p class="card-text">Sure, the slices coming out of this red-sauce truck are totally tasty, but it's the gut-bomb heros that are the real deal. Available in classic varieties like eggplant parm (pictured here), chicken parm, and  not be for the Soul Cycle set, but they are a hungover office worker's dream.
              </br><strong>Location:</strong>Front and Wall Sts. </p>               
              </div>
          </div>
        </div>
      </div>
      <br>
    <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/KWIKMEAL.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">Kwik Meal</h4>
              <p class="card-text">On the epic stretch of Sixth Avenue, Kwik Meal is one of the famous street carts. The green sign has been sitting on the street corner for years, and followers know that simple marinated lamb (pictured) or chicken over rice is where it's at.
             </br><strong>Location:</strong> 45th St. and Sixth Ave.
              </p>               
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/mamak.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">Banh Mi Cart</h4>
              <p class="card-text">You don't have to find obscure delis or off-the-radar Vietnamese joints to score awesome banh mi sandwiches. This cart has quality lunchtime options like the specialty baguette, which is stuffed with pork and veggies (pictured here). Its Yummy. 

                  </br><strong>Location:</strong> Hanover Sq. and Water St.
              </p>
                  
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/milktruck.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">Milk Truck</h4>
              <p class="card-text">The Milk Truck classic is a grilled cheese sandwich made with aged Wisconsin Gruyère and cultured butter on Balthazar Levain pullman bread. If you want to really go crazy, you can add caramelized onions, sautéed onions and bacon. Um, why not add all three? 
                 </br><strong>Location:</strong> Smorgasburg
                </p> 
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/NUCHAS.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">Nuchas</h4>
              <p class="card-text">If you really want to eat in the middle of Times Square, the pedestrian malls feature shipping containers that house a few tasty options (all of which are surely more filling than the pretzels being sold by the vendors lining the sidewalks). At Nuchas you'll find empanadas stuffed with ingredients like short rib and spicy chicken.
                  </br><strong>Location:</strong> Broadway between  45th Str.
              </p>
                 
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/nuts4nuts.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">Nuts 4 Nuts</h4>
              <p class="card-text">Midtown travelers are nuts for these roasted especially around the holidays when you can really smell chestnuts roasting on an open fire in the streets. Yes, a bazillion tourists out of the way when you are trying to get to the cart. 
              </br><strong>Location:</strong> Multiple 


              </p>
                
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/NYDOSAS.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">N.Y. Dosas</h4>
              <p class="card-text">This stand serving vegetarian fare has long been a favorite of NYU students drawn to its Washington Park location and affordable prices. Indian crêpes (made with rice and lentils) are stuffed with ingredients like potato and mixed veggies. The real South Indian dosa you can have. Multiple varieties are also available.                  </br><strong>Location:</strong>  W. Fourth St. at Sullivan St.
              </p>
                
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/PADTHAI.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">Luckyim Thai</h4>
              <p class="card-text">You may have to wait up to 30 minutes during lunch rush at this FiDi cart. It's worth it. It's all about the noodles at this stand, and it's nearly impossible to figure out how the operation churns out so many aluminum bowls full of pad see ew and drunken noodles.
                  </br><strong>Location: </strong> Liberty St. near Rector St.
              </p>
                 
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/TONYTHEDRAGON.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">Tony "The Dragon" Dragonas</h4>
              <p class="card-text">Tony has lured street-cart addicts north of the traditional street-meat zone with an everything-and-the-kitchen-sink menu that includes burgers and pitas. If you can tell which street vendors offer the best grub by the length of the line.
                  </br><strong>Locations:</strong>  62nd St. and Madison Ave.
              </p>
                
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/streetfood/WAFFLESANDDINGES.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">Waffles and Dinges</h4>
              <p class="card-text">These iconic yellow carts take Belgian-style waffles and load them up with delicious dinges, or treats like strawberries and chocolate (not to mention the mind-blowingly fluffy whipped cream). Best Waffles in town at cheapest rate.                  </br><strong>Locations:</strong>  Multiple. Twitter has the deets
              </p>
                
              </div>
          </div>
        </div>
      </div>
      
  </div>
</div>