<div class="container contact">
        
        <div class="container">
			<h2>To contact us, please fill in the below form!!!</h2>
			
            <form action="/send" method="post">
        
                <div class="form-group">
                    <div class="col-sm-7">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" required id="firstName" name="firstName" placeholder="Enter Full Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7">
                        <label for="lastName">Last Name</label>
                        <input type="text"  class="form-control" required id="lastName" name="lastName" placeholder="Enter Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7">
                        <label for="emailId">Email address</label>
                        <input type="text" class="form-control" required id="emailId" name="emailId" placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text"  class="form-control" required id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7">
                        <label for="zipCode">Zip Code</label>
                        <input type="text"  class="form-control" required id="zipCode" name="zipCode" placeholder="Zip Code">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7">
                        <label for="comments">Comments</label>
                        <textarea type="text"  class="form-control" required id="comments" name="comments" placeholder="Your Comments"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7">
                <button type="submit" id="btn" class="btn btn-primary">Send Email</button>
                 </div>
                </div>
            </form>
        </div>
	</div>
	
