<div class="container pri">
    <h1 class="d-flex justify-content-center">Frequently Asked Questions</h1>
    <p class="para">
        FAQ - Frequently Asked Questions for NYC
        May 6, 2008, 2:24 AM<br>
        <strong><h4> FORUM FREQUENTLY ASKED QUESTIONS:</h4></strong><br>
<i class="fa fa-question-circle" aria-hidden="true"></i><strong>Why should I buy a package from NYCVP?</strong><br>
<i class="fa fa-arrow-right" aria-hidden="true"></i>You can book a hotel room anywhere. However when you book your accommodations with NYCVP you're getting so much more - free bonus admissions, for example, to
your choice of admission to the American Museum of Natural History, the Museum of the City of NY or the NY Water Taxi Statue of Liberty Flex Pass AND
your choice of admission to the Empire State Building Observatory, the Metropolitan Museum of Art or the Top of the Rock Observation Deck
These bonus features are worth as much as $63 per person for everyone on the booking! No gimmicks. No "buy one, get one". No minimum night stay. Nothing but free admissions to popular NYC attractions. Free. For everyone on the booking. Wow. 
<br><br>
<i class="fa fa-question-circle" aria-hidden="true"></i><strong>What if I can get a hotel room elsewhere, can I still get your free bonus inclusions?</strong><br>
<i class="fa fa-arrow-right" aria-hidden="true"></i>Chances are if you think you found a hotel for a lower price than we offer, you may be misled. Our package prices include all taxes (which are quite steep in the "City that Never Sleeps") and lots of free features like admissions to some of the City’s most popular sites. Plus, when you book with NYCVP we can arrange all the sightseeing, dining, theatre and event options that you want.
If you still want to book your hotel room elsewhere, we can’t stop you. But we can’t send you all the free stuff, or help you with everything else you’ll want to do. Sorry. Our boss won’t let us.
<br><br>
<i class="fa fa-question-circle" aria-hidden="true"></i><strong>What days can I arrive in NYC? When do your tours depart? How long can I stay?</strong><br>
<i class="fa fa-arrow-right" aria-hidden="true"></i>Our packages are extremely flexible so you can travel at any time, stay as long as you want (with a few minor exceptions) and arrive on any day. We require just a 1-night minimum stay, but you're welcome to stay as long as you'd like. In fact, we predict you'll like New York City so much you'll never want to leave!
<br><br>
<i class="fa fa-question-circle" aria-hidden="true"></i><strong>Do I have to buy a Broadway show or some sightseeing tour?</strong><br>
<i class="fa fa-arrow-right" aria-hidden="true"></i>No. All you have to purchase through us is hotel accommodations. The free extras are just that … FREE. If you want to purchase tickets to a Broadway show, no problem. If you want to purchase a sightseeing tour or a dinner, no problem. If you don’t want anything except accommodations, no problem.
<br><br>
<i class="fa fa-question-circle" aria-hidden="true"></i><strong>Who is NYCVP and how do I know I'm giving my money to a legitimate company?</strong><br>
<i class="fa fa-arrow-right" aria-hidden="true"></i>Very good questions. We are owned by our parent company, Tenenbaums Vacation Stores Inc., who has been in the business of providing leisure travel vacations since 1983. They are bonded under the rules of the Airline Reporting Corporation (ARC).
We are members in good standing of New York City’s convention and visitor’s bureau, NYC & Company, as well as the Better Business Bureau of Northeast and Central PA. We are also members of the American Society of Travel Agents (ASTA), the New York State Tourism Industry Association, Greater New York Chamber of Commerce, National Association of CareerTravel Agents and the National Tour Association. New York City Vacation Packages has contractual agreements with some of the biggest names in the travel industry, like Marriott, Starwood, Hilton, Gray Line -- all of whom could attest to our high standards of conduct and our professional ethics. If that’s not enough, just call us. Speak with one of our professional New York City Personal Vacation Planners. We know they’ll instill confidence in you because they know New York City, they care about what they do and they truly care about you! Click here to read messages our travelers have sent us about our company, our product and our service. 
<br><br>
<i class="fa fa-question-circle" aria-hidden="true"></i><strong>How can I take advantage of your services?</strong><br>
<i class="fa fa-arrow-right" aria-hidden="true"></i>That’s easy. See your favorite travel agent, book online with us, or call us at 877-NYC-TRiP.
Click here to find our email address, fax number and hours of service.
<br><br>
<u><h2>Travel Questions</h2></u><br>
<i class="fa fa-question-circle" aria-hidden="true"></i><strong>Can you send me a brochure and guide maps of New York City?</strong><br>
<i class="fa fa-arrow-right" aria-hidden="true"></i>NYCVP is a tour company that arranges vacations to NYC. We are more than happy to answer any specific questions you have about the city, but we do not have informational brochures available. We recommend you contact the NYC Visitors Information Center at 212-397-8222 and they will be able to provide you with city brochures and maps. We would be happy to send you our current NYCVP vacation brochure.
<br><br>
<i class="fa fa-question-circle" aria-hidden="true"></i><strong>What is the best time to travel to NYC?</strong><br>
<i class="fa fa-arrow-right" aria-hidden="true"></i>New York City is hoppin' all year around. Prices are lowest in winter and summer, and highest in the Fall, particularly the first two weeks of December.
<br><br>
<i class="fa fa-question-circle" aria-hidden="true"></i><strong>How soon should I plan my trip?</strong><br>
<i class="fa fa-arrow-right" aria-hidden="true"></i>Soon.....especially if you are planning to go for a special event, like the Macy’s Thanksgiving Day Parade, Christmas Shopping or New Year’s Eve. We recommend you plan very early so as not to be disappointed. And if you are traveling any other time, the sooner you book, the better chance you have to secure the hotel and Broadway show tickets you desire most. We do however, accept bookings for travel as late as a week prior to your departure.<br>
   <br> 
   </p>
</div>