<div class="">
     <div class="row">
        <div class="thumbnail text-center">
            <img src="/img/night-life/night-life-baner.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <hr>
    <br>
    <div class="container">
      <div class="row">
        <div class="row hidden-md-up">
            <div class="col-md-8">
                <div class="card">
                    <!-- Image -->
                    <img class="card-img-top restaurant-card" src="/img/night-life/checkmate.jpg" alt="Photo of sunset">
                    <!-- Text Content -->
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                        <h4 class="card-title">Up & Down </h4>
                    <p class="card-text">Last week was likely a busy time for Up & Down considering all of the Fashion Week events and parties. But even without fashion insiders and models on the loose, this West Village hotspot always attracts a crowd.Notable New York nightlife names dish on the parties you won’t want to miss, door-people reveal how to behave if you want to get in, and we fill you in on our latest favorite DJ mixes available for you listening pleasure. Its location one block east of Union Square adds to its convenience and charm.</p>
                        <a href="http://www.uadnyc.com/" class="link">Up & Down</a>
                    </div>
            </div> 
        </div>
     </div>  
      <br>
    <div class="row">
        <div class="row hidden-md-up">
            <div class="col-md-4">
                 <!-- Text Content -->
                    <div class="card-body">
                    <h4 class="card-title">Lavo</h4>
                    <p class="card-text">Whether it’s Thursday night or Saturday afternoon, you can always find a party at Lavo.New York boasts a bevy of great nightlife shutterbugs to augment your fuzzy memories. View great shots from some of the current scene’s best, and while you’re at it, discover a few tricks of their trade. A U-shaped balcony with fantastic sightlines overlooks the dance floor and stage. The main floor features a full-service bar at the back of the hall. The Balcony Lounge—with soft seating, crystal lamps and photos of the legends that have graced Irving Plaza's stage—is the perfect setting for a cocktail reception with a rock 'n' roll edge.</p>
                        <a href="http://lavony.com/" class="link">Lavo</a>
                    </div>
            </div> 
            <div class="col-md-8">
                <div class="card">
                    <!-- Image -->
                    <img class="card-img-top restaurant-card" src="/img/night-life/night-life-1.jpg" alt="Photo of sunset">
                   
                </div>
            </div>             
        </div>
    </div>
      <br>
     <div class="row">
        <div class="row hidden-md-up">
            <div class="col-md-8">
            <div class="card">
                <img class="card-img-top restaurant-card" src="/img/night-life/night-life-2.jpg" alt="Photo of sunset">
            </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                <h4 class="card-title">The Box</h4>
                <p class="card-text">Only those prepared for an altogether unique club experience brave The Box, and it looks like that included a lot of people last week.
                Owners Ravi DeRossi (Bourgeois Pig) and David Kaplan take their drinks dead seriously, serving up everything from massive martinis to Old Fashioned that will knock your socks off. Dark lighting and a somber vibe make it feel like you’re in a classy hotel bar. (And no, not the hotel from The Shining, though you’d be forgiven for making that connection.)
                Drinks aren't cheap—such skillfully crafted quaffs rarely are—but the experience is unparalleled.</p>
                    <a href="http://www.theboxnyc.com/" class="link">The Box</a>
                </div>
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="row hidden-md-up">       
            <div class="col-md-3">
                <div class="card-body">
                <h4 class="card-title">Brooklyn Bowl</h4>
                <p class="card-text">Bands, bowling, DJs, food—there are plenty of reasons why so many New Yorkers are Ubering to this Williamsburg destination. But rest assured, you're in capable hands: bar staff are happy to make recommendations. You can buy bitters to take home, as well as barware, from jiggers to mixers and shakers. Drinks aren't cheap—such skillfully crafted quaffs rarely are—but the experience is unparalleled.</p>
                    <a href="www.brooklynbowl.com" class="link">Brooklyn Bowl </a>
                </div>
            </div>
             <div class="col-md-9">
            <div class="card">
                <img class="card-img-top restaurant-card" src="/img/night-life/mangia.jpg" alt="Photo of sunset">
            </div>
            </div>
        </div>
      </div>
      </br>
       <div class="row">
        <div class="row hidden-md-up">                  
             <div class="col-md-9">
                <div class="card">
                    <img class="card-img-top restaurant-card" src="/img/night-life/take-hikel.jpg" alt="Photo of sunset">
                </div>
            </div>
             <div class="col-md-3">
                <div class="card-body">
                <h4 class="card-title">Baby’s All Right</h4>
                <p class="card-text">Baby’s All Right has certainly made its mark on the Williamsburg nightlife scene. Known for having secret shows and eclectic bands and DJs, this music venue/restaurant lures all sorts of crowds. History is honored here, with meticulously researched and extremely delicious punches, flips, nogs and Pernod Absinthe concoctions. Craft beer is also treated with reverence. Founder Sean Muldoon gained international fame as a barman at Belfast's Merchant Hotel, before he struck out for these shores.</p>
                    <a href="http://babysallright.com/" class="link">Baby’s All Right</a>
                </div>
            </div>
        </div>
      </div>
        </br>
       <div class="row">
            <div class="row hidden-md-up">   
                <div class="col-md-3">
                    <div class="card-body">
                    <h4 class="card-title">Marquee | Chelsea</h4>
                    <p class="card-text">Tiësto, one of the world’s most popular DJs, performed at Marquee last Saturday night, so it’s not surprising that so many people made it their destination. Irving Plaza has an esteemed history as one of New York City's premier music venues. Guests enter through the classic lobby and climb one flight to the main room, a 3,300 square-foot clear span ballroom with polished wooden floors, crystal chandeliers and a fixed stage.</p>
                        <a href="http://marqueeny.com/" class="link">Marquee</a>
                    </div>
                </div>               
                <div class="col-md-9">
                    <div class="card">
                        <img class="card-img-top restaurant-card" src="/img/night-life/rustic.jpg" alt="Photo of sunset">
                    </div>
                </div>          
            </div>
      </div>
  </div>
</div>