<div class="container pri">
    <h1 class="d-flex justify-content-center">Privacy Policy</h1>
    <p class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our
        Privacy Policy describes how and what data NYC & Company and its agents (“we”) collect from you, and how and
        why we use your personal data via nycgo.com, e-newsletter, digital advertising, applications or social media
        platforms, which are collectively referred to here as our Website(s). The agents are back-end providers of
        services that support our Websites, analytics providers and the various services that we offer. This policy
        also describes choices we provide for you to access, update or otherwise take control of the personal data that
        we process. We collect, process and analyze the data to provide you with the services available via our
        Websites and to provide other information or services including valuable information, offers and services to
        travelers, meeting planners, the travel trade or those interested in travel to New York City and in related
        travel, leisure, cultural, lodging and entertainment or services available through our partners.
        <br><br>
        If you have questions about this policy, our data use or any of your rights, you may reach our Data Protection
        Officer (“DPO”) and our dedicated team by contacting us at privacy@nycgo.com. This inbox is actively monitored
        and managed so that we can deliver an experience that you can confidently trust.
        <br><br>
        If you would like us to delete your personal information (except for information that we keep for
        record-keeping purposes) and/or remove your name and address from promotional lists or to place your name on
        our “do not contact” list, you should contact our DPO at the email listed above. Please note that requests to
        update your personal information preferences may take up to 30 days if sent by email and six weeks if by mail
        (at the address listed below). Requests for access to data that we keep or deletion of data may also be
        directed to our DPO at privacy@nycgo.com.
        <br><br>
        <strong class="d-flex justify-content-center"> WHAT INFORMATION DO WE COLLECT?</strong>

        Information that we collect includes information that you may give us by using our Website(s), filling out
        forms on our Website(s); corresponding with us by phone email, online or otherwise; downloading an application
        or registering on one of our Websites; interacting with our Website(s) by subscribing to a service,
        e-newsletter, entering a competition; sharing information from one of our social media platforms or reporting a
        problem with our Websites.
        <br><br>
        <u><strong>Personal Information</strong></u>
        <br>
        The types of personal information that we process or have access to may include:

        If provided by you, your name, address, e-mail address, phone number(s), username and password, photos, videos,
        social media account names, or other information that you may share with us or enter into any of our Websites;
        and
        IP address or identifier associated with the device or browser you use to access our Websites or advertisements
        of our services that you click or view.
        <br><br>
        <u><strong>Automatic Data Collection</strong></u>
        <br>
        In addition, we may automatically collect the following information from your visits to our Websites:
        <br>
        <ul>
            <li>technical information such as the IP address used to access the Websites that identifies the mobile or
                other device you use, the operating system, settings, network and browser information used to access
                the Websites</li>
            <li>the domain or URL method used to and from our Websites which may include the date, time and sites that
                you used to navigate to or from our Websites, pages viewed, information searched, length of visit, time
                required to load and error messaging, clicks, mouse overs, scrolling and browsing methods</li>
            <li>information stored on your mobile device, including photos, contacts, log in or other digital content</li>
            <li>details on how you use and visit any of our Websites, including traffic dating, weblogs, communication
                data</li>
            <li>GPS technology in some apps to determine your location which may be disabled by changing the settings
                on your mobile device</li>
            <li>when installing or uninstalling an app with a unique application number or when an application searches
                for an update, information about use of the app and download</li>
        </ul>
        <br>
    </p>
</div>