<div class="container pri">
    <h1 class="d-flex justify-content-center">Terms of Use</h1>
    <p class="para">
<strong>1. ACCEPTANCE OF TERMS</strong>
NYC Guide welcomes you to its website, nycgo.com (the “Site”). The following Terms of Service (“Terms”) govern the use of the Site (the “Service”). By using or visiting the Site, including but not limited to, participation in its bulletin boards, postings, blogs or user profile, you are expressly agreeing to be bound by these Terms and to follow these Terms and any applicable laws and regulations. NYC Guide reserves the right to change the Terms, at any time, without notice. Your failure to follow these Terms may result in suspension or termination of your access to the Service, without notice.
<br><br>
<strong>2. LANGUAGE OF THE TERMS</strong>
Where NYC Guide has provided you with a translation of the English-language version of the Terms, you agree that the English-language version shall govern your relationship with NYC Guide and that NYC Guide provided the translation solely for your convenience. Should there exist any contradiction between the English-language version and a translation, the English-language version shall take precedence.
<br><br>
<strong>3.  YOUR REGISTRATION OBLIGATIONS</strong>
In order to use certain features of the Site, you may be required to register with nycgo.com. Your personal information will be treated by NYC Guide in accordance with our Privacy Policy. In consideration of your use of the Service, you agree that any registration information with which you provide NYC Guide will always be your own personal information and is accurate, true and complete. NYC Guide reserves the right to suspend or terminate your account, in its sole discretion, and refuse any and all current or future use of the Service to you, or any portion thereof, should you fail to abide by the Terms of Use or you provide NYC Guide with any information that is not your own or inaccurate, untrue or incomplete.
<br><br>
<strong>4. USE OF SERVICE </strong>
The Service is intended for your own personal and noncommercial use. You may not authorize others to use the Service. You agree you will not sell, lease, rent or provide any good or service or otherwise transact on the Site. You hereby represent and warrant that you are the owner or otherwise have the right to provide any materials that you upload, post, email, transmit or otherwise make available via the Service. The Site contains materials supplied by NYC Guide and its members, affiliates, partners and subsidiaries, as well as other sources, and is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws. Except as expressly authorized by NYC Guide, you may not reproduce, modify, copy, republish, post, transmit, upload, distribute, sell, license, rent or adapt or create a derivative work of, in any manner, any material, content or design elements obtained from the Site.
<br><br>
<strong>5. MEMBER CONDUCT</strong>
You agree not to use any obscene, indecent, disrespectful and/or offensive language, including any libelous, defamatory, obscene, pornographic or otherwise illegal material on the Site. Any abusive or discriminatory language on the basis of race, religion, nationality, gender, sexual preference, age, region, disability, etc., will not be permitted. In addition, you may not place on the Site any material that is encrypted, is junk mail or unauthorized advertising, commercial offers, political content, contains links to inappropriate websites, or encourages conduct that would constitute a criminal offense, give rise to civil liability or that otherwise violates any local, state, federal or international law or regulation. You may not post any message, or otherwise, that contains personal information, invades anyone’s privacy or that contains email addresses, URLs, phone numbers and postal addresses. You agree to not post any information intended to impersonate other users (including names of other individuals or groups) or that contains offensive or inappropriate user names or signatures. You agree to use the Site only for lawful purposes and you acknowledge that your failure to do so may subject you to civil and criminal liability.

<br><br>
<strong>6. CHILDREN UNDER AGE 18</strong>
NYC Guide does not knowingly collect or solicit personal information from anyone under the age of 18 or knowingly allow such persons to register. If you are under 18, please do not attempt to register on this website or send any information about yourself to us, including your name, address, telephone number or email address. No one under age 18 may provide any personal information to or on this website. In the event that we learn that we have collected personal information from a child under age 18 without verification of parental consent, we will delete that information as quickly as possible. You may not have to be a member to participate in certain contests, sweepstakes and/or special events; however, you must meet the designated minimum age requirements for the specific matter. NYC Guide will establish specific rules and terms for participation in each contest, sweepstakes and/or special event and will post this information on the Site.
<br><br>
<strong>7. USE OF MATERIAL POSTED BY YOU</strong>
User hereby grants to NYC Guide and its affiliates and subsidiaries an irrevocable, transferable, paid-up, royalty-free, perpetual, unrestricted worldwide license to use, reproduce, translate, sublicense, copy, print, display, modify, edit and create derivative works from and distribute or otherwise use and reproduce any information or materials, including, but not limited to, reviews, messages, comments or content that users post, upload, submit or transmit in areas on the Site without compensation, notification or other consideration to the user in any medium (now in existence or hereinafter developed) and for any purpose, including commercial purposes.
<br><br>
<strong>8. SITE EDITING AND DELETIONS</strong>
NYC Guide reserves the right, but undertakes no responsibility, to review, edit, alter or delete any material provided, or any part thereof, submitted or uploaded on the Site by the user, in its sole discretion, without notice. NYC Guide has no obligation to display, authorize or otherwise use or display on the Site any reviews, comments or other materials or information submitted or provided by the user.
<br><br>
<strong>9. MATERIALS POSTED BY OTHERS</strong>
NYC Guide hereby disclaims any responsibility or liability with respect to any information or materials posted by others, including defamatory, offensive or illicit material, or other material or information that violates the Terms herein.
<br><br>
<strong>10. REVIEWS</strong>
Authorized users are able to post reviews of events, businesses and other entertainment features listed on the Site. Reviews do not reflect the views of NYC Guide; its parent, affiliates or subsidiaries; or their respective employees, officers or directors. NYC Guide hereby disclaims any responsibility or liability for any review or for any claims, damages or losses resulting from any use of the Site or the materials contained therein.
<br><br>

    </p>
</div>